@model List<TestCorrection.Model.Model.Question>
@using System.Web.Mvc;
@using TestCorrection.Model.Model;
@using TestCorrection.ViewModels;
@using TestCorrection.Resources;
@using GridMvc.Html;
@using GridMvc.Sorting;

@{Html.RenderPartial("_ProgessAlert");}
<div class="well" style="font-size:large;">
    @Html.ActionLink("Corrigir Questões", "Index") &nbsp;&nbsp;&nbsp; @Html.ActionLink(Resources.New, "Create", null, new { @class = "btn btn-primary" })
</div>
<div class="row">
    <div class="col-md-9 col-md-pull">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{Html.RenderPartial("_ItemsGrid", Model);}
    </div>
</div>